<div class="modal-header">
  <h4 class="modal-title">{{ gameDetail.name | titlecase }}</h4>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>{{ gameDetail.released }}</p>
  <div class="innie" [innerHTML]="gameDetail.description"></div>
  <carousel [showIndicators]="true">
    <slide>
      <img
        alt="First slide"
        class="d-block"
        src="{{ gameDetail.background_image }}"
      />
    </slide>
    <slide *ngIf="gameDetail.background_image_additional">
      <img
        alt="Second slide"
        class="d-block"
        src="{{ gameDetail.background_image_additional }}"
      />
    </slide>
  </carousel>
  <div class="progress-container progress-primary">
    <span class="progress-badge"> Rating: </span>
    <progressbar class="progress-bar-primary" [value]="gameDetail.metacritic">
      <span class="progress-value"> {{gameDetail.metacritic}}% </span>
    </progressbar>
  </div>
</div>
